html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Override item styles */
.MuiGrid-item {
  padding-left: 0 !important;
  padding: 4px 4px !important;
}

.MuiButtonBase-root {
  border-radius: 50px !important;
}

.MuiInputBase-root {
  border-radius: 20px !important;
}

.MuiImageListItemBar-root {
  background: none !important;
}

.MuiImageListItem-root img {
  border-radius: 20px !important;
}

@media (max-width: 600px) {
  #qr-code {
    display: none;
  }
}

.MuiImageListItem-img {
  height: 100% !important;
}